
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<ProductDTO>

<h1>Products</h1>
<br />
<hr />
<a asp-action="Create" asp-controller="Product" class="btn btn-primary mb-3 mt-2">Add Product</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Category</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>@item.CategoryID</td>
                <td><a asp-action="Update" asp-controller="Product" asp-route-id="@item.ProductID" class="btn btn-warning">Update</a></td>
                <td><a asp-action="Delete" asp-controller="Product" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>


